<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.appdynamics.appdplugin"
	version="4.2.0">

	<name>AppDynamics</name>
	<description>AppDynamics EUM API Plugin</description>
	<keywords>appdynamics,rum</keywords>
	<author>Steve W</author>

	<engines>
		<engine name="cordova" version=">=4.0.0"/>
		<engine name="cordova-android" version=">=4.0.0"/>
		<engine name="cordova-ios" version=">=4.3.0"/>
	</engines>

	<!--
	Apple iOS
	-->
	<platform name="ios">
		<framework src="AppDynamicsAgent" type="podspec" spec="~> 42.9.0" />
		<config-file target="config.xml" parent="/widget">
			<feature name="AppDynamics">
				<param name="ios-package" value="AppDynamicsAPI"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<header-file src="src/ios/AppDynamicsAPI.h"/>
		<source-file src="src/ios/AppDynamicsAPI.m"/>
		<header-file src="src/ios/AppDCache.h"/>
		<source-file src="src/ios/AppDCache.m"/>
	</platform>

	<!--
	Android
	-->
	<platform name="android">
		<framework src="com.appdynamics:appdynamics-runtime:4.+" />
		<config-file target="config.xml" parent="/widget">
			<feature name="AppDynamics">
				<param name="android-package" value="com.appdynamics.appdplugin.AppDynamicsAPI"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
		</config-file>

		<source-file src="src/com/appdynamics/appdplugin/AppDynamicsAPI.java" target-dir="src/com/appdynamics/appdplugin"/>
		<source-file src="src/com/appdynamics/appdplugin/SharedCache.java" target-dir="src/com/appdynamics/appdplugin"/>

		<hook type ="before_build" src="scripts/add-appd-to-classpath.sh" />
		<hook type ="before_run" src="scripts/add-appd-to-classpath.sh" />
	</platform>

</plugin>
