<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.appdynamics.appdplugin" version="4.0.3">
	<name>AppDynamics</name>
	<description>AppDynamics EUM API Plugin</description>
	<keywords>appdynamics</keywords>
	
	<asset src="www/appdynamics.js" target="plugins/appdynamics.js"/>
	
	<engines>
		<engine name="cordova" version=">=2.7.0"/>
	</engines>
	
	<!--
	Apple iOS
	-->
	<platform name="ios">
		<config-file target="config.xml" parent="/*/plugins">
			<plugin name="AppDynamicsAPI" value="AppDynamicsAPI" onload="true"/>
		</config-file>
		
		<config-file target="config.xml" parent="/widget">
			<feature name="AppDynamics">
				<param name="ios-package" value="AppDynamicsAPI"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		
		<header-file src="src/ios/AppDynamicsAPI.h"/>
		<source-file src="src/ios/AppDynamicsAPI.m"/>
		<header-file src="src/ios/AppDCache.h"/>
		<source-file src="src/ios/AppDCache.m"/>
	</platform>
	
	<!--
	Android
	-->
	<platform name="android">
		<config-file target="config.xml" parent="/*/plugins">
			<plugin name="AppDynamicsAPI" value="AppDynamicsAPI"/>
		</config-file>
		
		<config-file target="config.xml" parent="/widget">
			<feature name="AppDynamics">
				<param name="android-package" value="com.appdynamics.appdplugin.AppDynamicsAPI"/>
			</feature>
		</config-file>
		
		<source-file src="src/com/appdynamics/appdplugin/AppDynamicsAPI.java" target-dir="src/org/stevew/appdplugin"/>
		<source-file src="src/com/appdynamics/appdplugin/SharedCache.java" target-dir="src/org/stevew/appdplugin"/>
	</platform>
	
</plugin>